<!--hm-footer start-->
<section class="hm-footer">
    <div class="container">
        <div class="hm-footer-details">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="hm-footer-widget">
                        <div class="hm-foot-title ">
                            <div class="logo">
                                <a href="index.html">
                                    <img src="assets/images/banner/banner1.jpg" alt="logo" />
                                </a>
                            </div>
                            <!-- /.logo-->
                        </div>
                        <!--/.hm-foot-title-->
                        <div class="hm-foot-para">
                            <p>
                                Blog d'Appel d'offre
                            </p>
                        </div>
                        <!--/.hm-foot-para-->

                        <!--/.hm-foot-icon-->
                    </div>
                    <!--/.hm-footer-widget-->
                </div>

                <!--/.col-->
                <div class=" col-md-3 col-sm-6 col-xs-12">
                    <div class="hm-footer-widget">
                        <div class="hm-foot-title">
                            <h4>Tdsi</h4>
                        </div>
                        <!--/.hm-foot-title-->
                        <div class="hm-para-news">
                            <a href="blog_single.html">
            transmission de données et securité de l'informaion
              </a>
                            <span>16 octobre 2007</span>
                        </div>
                        <!--/.hm-para-news-->
                        <div class="footer-line">
                            <div class="border-bottom"></div>
                        </div>

                    </div>
                    <!--/.hm-footer-widget-->
                </div>
                <!--/.col-->

                <!--/.col-->
            </div>
            <!--/.row-->
        </div>
        <!--/.hm-footer-details-->
    </div>
    <!--/.container-->

</section>
<!--/.hm-footer-details-->
<!--hm-footer end-->

<!-- footer-copyright start -->
<footer class="footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="foot-copyright pull-left">
                    <p>
                        &copy; hamettniang@gmail.com
                        <a href="https://www.themesine.com">plus d'information</a>
                    </p>
                </div>
                <!--/.foot-copyright-->
            </div>
            <!--/.col-->

            <!--/.col-->
        </div>
        <!--/.row-->
        <div id="scroll-Top">
            <i class="fa fa-angle-double-up return-to-top" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
        </div>
        <!--/.scroll-Top-->
    </div>
    <!-- /.container-->

</footer>
<!-- /.footer-copyright-->