<!--header start-->
<section id="home" class="header">
    <div class="container">
        <div class="header-left">
            <!--/ul-->
        </div>
        <!--/.header-left -->
        <div class="header-right pull-right">
            <ul>
                <li class="reg">
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-sm">
                        Log in
          </a> /
                    <a href="#" data-toggle="modal" data-target=".bs-example-modal-lg">
           Register
          </a>
                    <app-signin></app-signin>
                    <!-- large modal -->
                    <app-register></app-register>
                </li>
                <!--/li -->

                <!--/li -->
            </ul>
            <!--/ul -->
        </div>
        <!--/.header-right -->
    </div>
    <!--/.container -->

</section>
<!--/.header-->
<!--header end-->