<section id="menu">
    <div class="container">
        <div class="menubar">
            <nav class="navbar navbar-default">

                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
                    <a class="navbar-brand" routerLink="/">
                        <img class="logo" src="../assets/images/logo/appel.jpg" alt="logo">
                    </a>
                </div>
                <!--/.navbar-header -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="smooth-menu">
                            <a routerLink="/">Accueill</a>
                        </li>
                        <li><a routerLink="/creer-appel-offre" (click)="onInit('creer')" *ngIf="isLoginIn">Creer Appel Offre</a></li>


                        <li class="smooth-menu"><a routerLink="/entreprises_postules" (click)="onInit('list2')" *ngIf="isLoginIn">Entrepris Postuler</a></li>
                        <li class="smooth-menu"><a routerLink="/liste_appel_offre" (click)="onInit('list3')" *ngIf="isLoginIn">List des Appel d'offres</a></li>
                        <li class="smooth-menu"><a routerLink="/liste_appel_offre" (click)="logOut()">Logout</a></li>
                        <li>
                            <a href="#">
                                <span class="lnr lnr-cart"></span>
                            </a>
                        </li>
                        <li class="search">
                            <form action="">
                                <input type="text" name="search" placeholder="Search....">
                                <a href="#">
                                    <span class="lnr lnr-magnifier"></span>
                                </a>
                            </form>
                        </li>
                    </ul>
                    <!-- / ul -->
                </div>
                <!-- /.navbar-collapse -->
            </nav>
            <!--/nav -->
        </div>
        <!--/.menubar -->
    </div>
    <!-- /.container -->

</section>
<!--/#menu-->